/* CSS file for app layout*/
.window_layout{
    border: solid 0px cyan;
}

.grid_layout_dektak{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-columns: fit-content(750px) fit-content(1100px);*/
    /*grid-auto-rows: minmax(auto, auto);*/
    grid-gap: 0px 5px;
    justify-content: center;
    align-items: center;
}

.plot_cell_left{
    border: solid 0px red;
    max-width: 100%;
    display: block;
    grid-column: 0/2;
    grid-row: 2/4;
}
.plot_cell_right{
    border: solid 0px red;
    max-width: 100%;
    display: block;
    grid-column: 2/4;
    grid-row: 3;
}

.cell_11{
    border: solid 0px red;
    max-width: 100%;
    height: auto;
    display: block;
    grid-column: 1;
    grid-row: 1;
}

.cell_12{
    border: solid 0px red;
    max-width: 100%;
    height: auto;
    display: block;
    grid-column: 2;
    grid-row: 1;

}

.cell_13{
    border: solid 0px red;
    max-width: 100%;
    height: auto;
    display: block;
    grid-column: 3;
    grid-row: 1;
}

.cell_21{
    border: solid 0px red;
    max-width: 100%;
    height: auto;
    display: block;
    grid-column: 1;
    grid-row: 2;
}

.cell_22{
    border: solid 0px red;
    max-width: 100%;
    height: auto;
    display: block;
    grid-column: 2;
    grid-row: 2;
}

.cell_23{
    border: solid 0px red;
    max-width: 100%;
    height: auto;
    display: block;
    grid-column: 3;
    grid-row: 2;
}